<!doctype html>
<html lang="en">

<head>
    <title>Artisan Marketplace</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body style="background-image: url('/static/indian_art.jpg')">

    <header>
        <button onclick="window.location.href='/artisan_signup'">Artisan</button>
        <button onclick="window.location.href='/user_signup'">User</button>
        <button onclick="window.location.href='/login'">Login</button>
    </header>
    <main>
        <h1>Welcome to the Indian Artisan Marketplace</h1>
        <p>Embrace Indian Heritage. Support local crafts. Every piece has a story.</p>
    </main>
    <footer>
        Made with ♥ to empower Indian Artisans.
    </footer>
    <script src="{{ url_for('static', filename='js/product_viewer.js') }}"></script>

</body>

</html>